<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" [routerLink]="['/','home']">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Hamming</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of pages">
        <ion-card [disabled]="item.disabled">
          <ion-card-header>
            <ion-card-title> {{ item.title | uppercase }} </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ item.description }}</p>
            <ion-button fill="clear" color="primary" [routerLink]="item.url">
              See more
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
