<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" [routerLink]="['/','home']">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Digital Modulation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="modulationForm">
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label position="floating"> Modulation type </ion-label>
              <ion-select
                placeholder="Select modulation scheme"
                formControlName="modulationType"
                (ionChange)="checkIfCorrect()"
              >
                <ion-select-option
                  *ngFor="let item of modulationTypes"
                  [value]="item.value"
                >
                  {{ item.label }}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">
                Symbol transmission rate (Bd)
              </ion-label>
              <ion-input
                type="number"
                formControlName="symbolRate"
                placeholder="Enter a value"
                (ionBlur)="checkFreq()"
              >
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">
                Modulated signal maximum amplitude (V)
              </ion-label>
              <ion-input type="number" formControlName="amplitude"> </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">
                Carrier frequency (Hz)
              </ion-label>
              <ion-input
                type="number"
                formControlName="carrierFreq"
                placeholder="Enter a value"
                [disabled]="!this.modulationForm.get('symbolRate').valid"
                (ionBlur)="checkFreq()"
              >
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating"> Plotting Time Unit </ion-label>
              <ion-select
                placeholder="Select a time unit"
                formControlName="timeUnit"
              >
                <ion-select-option
                  *ngFor="let item of timeUnits"
                  [value]="item.value"
                >
                  {{ item.label }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating"> Bit frame </ion-label>
                <ion-textarea
                  formControlName="bitFrame"
                  placeholder="Type your message"
                  autoGrow="true"
                  rows="1"
                  [disabled]="!this.modulationForm.get('modulationType').valid"
                  (ionChange)="checkIfBinary()"
                  (ionBlur)="checkIfCorrect()"
                >
                </ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <ion-button
                fill="outline"
                [disabled]="!modulationForm.get('numraRandSymbols').valid ||
                  !modulationForm.get('modulationType').valid"
                (click)="generateRandomBitFrame()"
              >
                Generate random symbol
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="floating">
                  Number of random symbols
                </ion-label>
                <ion-input
                  type="number"
                  formControlName="numraRandSymbols"
                  placeholder="Enter a value"
                >
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button [disabled]="!modulationForm.valid" (click)="calculate()">
            Calculate
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10" offset="1">
          <div class="chart-container">
            <canvas id="sineWaveChart">{{ sineWaveChart }}</canvas>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
